NEXT_PUBLIC_SUPABASE_URL=https://gfxetbwzwftasfrfsfvy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RSAsGwR3Fhxu5yGe9DFgfg_e6BPYEPc
VITE_SUPABASE_URL=https://gfxetbwzwftasfrfsfvy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RSAsGwR3Fhxu5yGe9DFgfg_e6BPYEPc
